/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/

/* your code */
/* Hope this work NOW!!!! */

header{
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: rgb(173, 167, 167);
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  border-radius: 2.5px 2.5px 2.5px 2.55px;
}

body{
  margin: 0 auto;
  width: 70%;
  background-color: #1e3932;
}

nav{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

h1{  color: #f2f0eb;

}

section {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  row-gap: 10px;
  
  margin: 0 auto;
  border: 2px solid white;
}

div{
  display: flex;
  
  
  justify-content: right;
  margin: 0 auto;
  
  background-color: #00754a;
}

/* .city-item{
  display: flex;
  align-items: flex-start;
} */


